ADMIN_MODE=true

# GCP Deployment Variables
GCP_PROJECT_ID=your_project_id
GCP_PROJECT_NUMBER=your_project_number
GCP_SERVICE_NAME=music-library
GCP_REGION=us-central1
GCP_DATA_BUCKET_NAME=your_data_bucket_name
